@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240,4.8%,95.9%;  /* zinc-100 */
    --foreground: 240,5.3%,26.1%; /* zinc-700 */

    --muted: 240,5.9%,90%; /* zinc-200 */
    --muted-foreground: 240,5.2%,33.9%;  /* zinc-600 */

    --popover: 0,0%,98%;  /* zinc-50 */
    --popover-foreground: 240,5.3%,26.1%; /* zinc-700 */

    --border: 158.1,64.4%,51.6%; /* emerald-400 */
    --input: 158.1,64.4%,51.6%; /* emerald-400 */

    --card: 0,0%,98%;  /* zinc-50 */
    --card-foreground: 240,5.3%,26.1%; /* zinc-700 */

    --primary: 158.1,64.4%,51.6%; /* emerald-400 */
    --primary-foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --secondary: 240,5.9%,90%; /* zinc-200 */
    --secondary-foreground: 240,5.3%,26.1%; /* zinc-700 */

    --accent: 152.4,76%,80.4%; /* emerald-200 */
    --accent-foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --destructive: 0,84.2%,60.2%;  /* red-500 */
    --destructive-foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --ring: 158.1,64.4%,51.6%; /* emerald-400 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 240,3.7%,15.9%; /* zinc-800 */
    --foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --muted: 240,5.9%,10%;  /* zinc-900 */
    --muted-foreground: 240,3.8%,46.1%;  /* zinc-500 */

    --popover: 240,5.3%,26.1%; /* zinc-700 */
    --popover-foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --border: 160.1,84.1%,39.4%; /* emerald-500 */
    --input: 160.1,84.1%,39.4%; /* emerald-500 */

    --card: 240,5.3%,26.1%; /* zinc-700 */
    --card-foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --primary: 160.1,84.1%,39.4%; /* emerald-500 */
    --primary-foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --secondary: 240,5.3%,26.1%; /* zinc-700 */
    --secondary-foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --accent: 156.2,71.6%,66.9%; /* emerald-300 */
    --accent-foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --destructive: 0,72.2%,50.6%; /* red-600 */
    --destructive-foreground: 240,4.8%,95.9%;  /* zinc-100 */

    --ring: 160.1,84.1%,39.4%; /* emerald-500 */

    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}